.hamburgerIcon {
  height: 75px;
  float: right;
}

#banner {
  /* border: 1px solid green; */
  position: absolute;
  top: 0px;
  width: 100vw;
  z-index: -1;
  height: 90vh;
}
/* .carousel {
  position: absolute;
  top: 40%;
} */
.leftArrow {
  /* position: absolute;
  left: 5px;
  top: 45%;*/
  height: 35px;
  float: left;
  background-color: peru;
}
.rightArrow {
  /* position: absolute;
  right: 20px;
  height: 50px;*/
  background-color: peru;
  float: right;
  height: 35px;
}
.chevron {
  /* position: absolute;
  left: 50%;
  top: 87%; */
  height: 50px;
  display: block;
  margin-left: 10px;
}

.carouselNChev {
  z-index: 1;
  /* border: 1px solid green; */
  width: 25%;
  position: absolute;
  left: 50%;
  top: 80%;
}

/* media query for carousel n chev and arrows */
@media (max-width: 750px) {
  .carouselNChev {
    top: 60%;
  }
}

@media (max-width: 520px) {
  .carouselNChev {
    top: 45%;
  }
  .leftarrow {
    position: absolute;
    left: 5px;
    top: 45%;
    height: 35px;
    background-color: white;
  }
  .rightarrow {
    position: absolute;
    right: 20px;
    height: 50px;
    background-color: black;
    height: 35px;
  }
}

.leftArrow:hover {
  cursor: pointer;
}
.rightArrow:hover {
  cursor: pointer;
}
.hamburgerIcon {
  cursor: pointer;
}
.banner {
  /* position: fixed;
  top: 0px; */
  z-index: -1;
  width: 100%;
  /* background-color: black; */
  /* position: relative; */

  /* border: 1px solid red; */
}

.bannerImage {
  width: 100%;
  height: 90vh;
  background: #ac9393;
  top: 0;
  position: absolute;
  z-index: -1;
}
.bannerText {
  width: 45%;
  position: absolute;
  top: 20%;
  /* border: 1px solid black; */
  right: 5%;
  color: white;
}
.bannerText > p {
  font-size: 45px;
  line-height: 10px;
  margin-left: 25%;
}

.MainMenuModal {
  width: 50%;
  /* height: 450px; */
  min-width: 300px;
  position: -webkit-sticky; /* Safari */
  position: absolute;
  left: 25%;
  background-color: rgb(245, 241, 241);
  border: 1px solid black;
  z-index: 1;
  background-image: linear-gradient(to Bottom right, white, #5b5c5e, white);
}
.ITServices:hover {
  cursor: pointer;
}

.closeSubMenu {
  cursor: pointer;
}
/* .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196f3;
  padding: 10px;
  width: 90vw;
  margin: 1px solid red;
}


.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */
#landing_page_content {
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}
.one {
  width: 100%;
  box-sizing: border-box;
  /* padding-left: 2%; */
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}
.oneDotOne,
.oneDotTwo,
.oneDotThree,
.oneDotFour {
  /* float: left; */
  border: 1px solid #1c1a38;
  box-sizing: border-box;
  width: 25%;
  border-radius: 5px;
  box-shadow: -5px 2px 0 0 #1c1a38;
}
.flexContainerFooter {
  box-sizing: border-box;
  width: 100%;
  background-color: #879187;
  display: flex;
  flex-wrap: wrap;
}
.flexOne {
  /* border: 1px yellow solid;
  background-color: blue; */
  display: flex;
  box-sizing: border-box;
  width: 70%;

  flex-wrap: wrap;
  justify-content: space-around;
}
.flexTwo {
  display: flex;
  /* box-sizing: border-box; */
  width: 29%;
  justify-content: space-around;
  /* border: 1px solid green; */
  padding-top: 5px;
}
.flexThree {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 5px;
  /* background-color: #879187; */
}

.contactUsMain {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contactUsBanner {
  background-color: #2e2761;
}

.contactUsBannerImage {
  width: 50%;
  height: 400px;
  display: block;
  margin-left: 25%;
}
.contactUsAllMethods {
  display: flex;
}
.formDiv {
  text-align: center;
  width: 25%;
}
.callImage {
  width: 25%;
}
.letters {
  width: 25%;
}
.mailbox {
  width: 25%;
}

@media (max-width: 500px) {
  .one {
    flex-wrap: wrap;
  }
  .oneDotOne,
  .oneDotTwo,
  .oneDotThree,
  .oneDotFour {
    width: 50%;
  }
}

/* media query for banner text */
@media (max-width: 1308px) {
  .bannerText > p {
    margin-left: 5%;
    /* color: red; */
  }
}
@media (max-width: 982px) {
  .bannerText > p {
    margin-left: 5%;
    /* color: red; */
    font-size: 35px;
  }
}

@media (max-width: 770px) {
  .bannerText > p {
    margin-left: 5%;
    /* color: red; */
    font-size: 28px;
  }
}

@media (max-width: 637px) {
  .bannerText > p {
    margin-left: 5%;
    /* color: red; */
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .bannerText > p {
    margin-left: 5%;
    /* color: red; */
    font-size: 15px;
    margin-top: -5%;
  }
}

@media (max-width: 800px) {
  .contactUsBannerImage {
    width: 100%;
    margin-left: 0px;
  }

  .contactUsAllMethods {
    flex-wrap: wrap;
  }
  .formDiv,
  .callImage,
  .letters,
  .mailbox {
    width: 50%;
  }

  .flexContainerFooter {
    flex-direction: column;
  }
  .flexOne {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
    justify-content: "space-around";
  }
  .flexTwo {
    display: flex;
    box-sizing: border-box;
    width: 100%;

    justify-content: space-around;
  }
}

.flexOne > div {
  box-sizing: border-box;
  /* border: 1px solid green; */
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
}

.flexTwo > img {
  box-sizing: border-box;
}


/*# sourceMappingURL=/js.fcffc47e.css.map */